 * {
    margin: 10px auto;
    text-align: center;
} 

body {
    margin-top: 50px;
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    color: aliceblue;
}   

main section {
    background-color: antiquewhite;
    width: 30%;
    padding: 15px;
    color: blue;
    border-radius: 20px;
}

main section form {
    display:block;
}

form input {
    border:none;
}

main section button {
    background-color: blueviolet;
    padding: 5px;
    width: 90px;
    color: antiquewhite;
    border-radius: 5px;
    border: none;
}